body {
    font-family: "Tahoma";
}

*,
*:before,
*:after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.window {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}

/* Input */

input[type="text"] {
    height: 30px;
    width: 250px;
    font-size: 16pt;
    color: #a16262;
}

input[type="date"] {
    height: 30px;
    width: 250px;
    font-size: 16pt;
    color: #a16262;
}

.select_css {
    height: 30px;
    width: 250px;
    display: block;
    font-size: 20px;
    color: #a16262;
    max-width: 100%;
    margin: 0;
}

h3 {
    font-size: 16pt;
    color: #a16262;
}

.h3_1 {
    display: inline-block;
    padding-right: 20px;
    font-size: 16pt;
    color: #a16262;
}

.h3_2 {
    display: inline-block;
    padding-right: 20px;
    /*justify-content: start;*/
}

/* Header */

.header {
    padding-top: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name_list {
    text-align: center;
    color: #a16262;
    font-size: 30px;
    margin: 5px auto;
    background-color: #ffeb96;
    box-shadow: 0 5px 10px #ccc;
}

/* Nav */

nav {
    font-size: 22px;
    padding-top: 3px;
}

.nav_right {
    display: flex;
}

.nav__link_active {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    color: #7f2e2e;
    text-decoration: none;
    transition: color .1s linear;
    /*height: 50px;*/
    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
    border-radius: 10%;
    box-shadow: 0 5px 10px #ccc;
    background: #fd4444;
    transition: background .1s linear;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    color: #7f2e2e;
    text-decoration: none;
    transition: color .1s linear;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
    border-radius: 10%;
    box-shadow: 0 5px 10px #ccc;
    background: #fc9e9e;
    transition: background .1s linear;
}

.nav__link:hover {
    background: #fd4444;
}

.nav__link_add {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    color: #7f2e2e;
    text-decoration: none;
    transition: color .1s linear;
    /*height: 50px;*/
    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
    border-radius: 10%;
    box-shadow: 0 5px 10px #ccc;
    background: #a4f877;
    transition: background .1s linear;
}

.nav__link_add:hover {
    background: #29fc12;
}

.nav__link_cancel {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    color: #7f2e2e;
    text-decoration: none;
    transition: color .1s linear;
    /*height: 50px;*/
    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
    border-radius: 10%;
    box-shadow: 0 5px 10px #ccc;
    background: #bfbfbf;
    transition: background .1s linear;
}

.nav__link_cancel:hover {
    background: #97a597;
}

.add_nav {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

/* Buttom */

#data input, button {
    display: inline-block;
    font-size: 20px;
    color: #7f2e2e;
    /*transition: color .1s linear;*/
    /*height: 50px;*/
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
    border-radius: 30%;
    background: #e2dede;
    /*border: 0;*/
    /*padding: 0;*/
}

/* Intro */

.intro{
    padding-top: 110px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    width: 100%;
    height: 98vh;
    background: url("../images/background.jpg");

}

.intro_inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 0;
}

.table {

}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 20px;
    background: white;
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 5px 10px #ccc;
}

th {
    font-weight: normal;
    color: #003bef;
    padding: 10px 15px;
    border: 1px solid #e09999;
}

td {
    color: #8d8de8;
    border: 1px solid #c6acac;
    padding: 10px 15px;
}

tr:hover td {
    background: #e8edff;
}

/* Add */

.add_employee {
    display: inline-block;
}